penv/ 
env/ 
.vscode/settings.json
coco_instances_val2017.json
mypythonlib.egg-info/
dist/
./build/
data/
.eggs/
pylabel.egg-info/
*.ipynb
pylabel/__pycache__/
notebooks.sh
training/
annotations/
images/
roadsign_splitdata.zip
road_sign_data.yaml
BCCD_Dataset/
model_training/
__pycache__